<div class="container">

   <div class="back-button-container">
    <button class="btn-back-red" (click)="goToHome()">
      <i class="fas fa-arrow-left"></i> Retour à l'accueil
    </button>
  </div>

  <h2><i class="fas fa-user-plus"></i> Inscription Praticien</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <!-- Nom -->
    <div class="mb-3 input-icon">
      <label><i class="fas fa-user"></i> Nom</label>
      <div class="input-wrapper">
        <i class="fas fa-user"></i>
        <input type="text" class="form-control" formControlName="lastName" />
      </div>
      <div *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid" class="error">
        <small>Le nom est requis.</small>
      </div>
    </div>

    <!-- Prénom -->
    <div class="mb-3 input-icon">
      <label><i class="fas fa-user"></i> Prénom</label>
      <div class="input-wrapper">
        <i class="fas fa-user"></i>
        
        <input type="text" class="form-control" formControlName="firstName" />
      </div>
      <div *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid" class="error">
        <small>Le prénom est requis.</small>
      </div>
    </div>

    <!-- Email -->
    <div class="mb-3 input-icon">
      <label><i class="fas fa-envelope"></i> Email</label>
      <div class="input-wrapper">
        <i class="fas fa-envelope"></i>
        <input type="email" class="form-control" formControlName="email" />
      </div>
      <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="error">
        <small *ngIf="registerForm.get('email')?.errors?.['required']">L'email est requis.</small>
        <small *ngIf="registerForm.get('email')?.errors?.['email']">L'email est invalide.</small>
      </div>
    </div>
   <!-- Domaine -->
<div class="mb-3 input-icon">
  <label><i class="fas fa-briefcase-medical"></i> Domaine et Spécialité</label>
  <div class="input-wrapper">
    <i class="fas fa-briefcase-medical"></i>
    <input
      type="text"
      class="form-control"
      formControlName="specialty"
      placeholder="Ex. Cardiologue, Dentiste, Avocat..."
    />
  </div>
  <div *ngIf="registerForm.get('specialty')?.touched && registerForm.get('specialty')?.invalid" class="error">
    <small *ngIf="registerForm.get('specialty')?.errors?.['required']">Le domaine et la spécialité sont requis.</small>
  </div>
</div>

    <!-- Téléphone -->
    <div class="mb-3 input-icon">
      <label><i class="fas fa-phone"></i> Téléphone</label>
      <div class="input-wrapper phone-wrapper">
        <span class="prefix">+212</span>
        <input
          type="text"
          class="form-control"
          formControlName="phone"
          maxlength="9"
          placeholder="612345678"
          oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0,9);"
        />
      </div>
      <div *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid" class="error">
        <small *ngIf="registerForm.get('phone')?.errors?.['required']">Le téléphone est requis.</small>
        <small *ngIf="registerForm.get('phone')?.errors?.['pattern']">Le téléphone doit contenir 9 chiffres.</small>
      </div>
    </div>
     <!-- Sexe -->
    <div class="mb-3 input-icon">
      <label><i class="fas fa-venus-mars"></i> Sexe</label>
      <div class="input-wrapper">
        <i class="fas fa-venus-mars"></i>
        <select class="form-select" formControlName="gender">
          <option value="" disabled>Choisir</option>
          <option value="F">Femme</option>
          <option value="H">Homme</option>
        </select>
      </div>
      <div *ngIf="registerForm.get('gender')?.touched && registerForm.get('gender')?.invalid" class="error">
        <small>Le sexe est requis.</small>
      </div>
    </div>
     <!-- Region -->
    <div class="mb-3 input-icon">
      <label><i class="fas fa-signs-post"></i> Region</label>
      <div class="input-wrapper">
        <i class="fas fa-signs-post"></i>
        <select class="form-select" formControlName="source">
          <option value="" disabled>Choisir votre région</option>
          <option value="Tanger-Tétouan-Al Hoceïma">Tanger-Tétouan-Al Hoceïma</option>
          <option value="L'Oriental">L'Oriental</option>
          <option value="Fès-Meknès">Fès-Meknès</option>
          <option value="Rabat-Salé-Kénitra">Rabat-Salé-Kénitra</option>
          <option value="Béni Mellal-Khénifra">Béni Mellal-Khénifra</option>
          <option value="Casablanca-Settat">Casablanca-Settat</option>
          <option value="Marrakech-Safi">Marrakech-Safi</option>
          <option value="Drâa-Tafilalet">Drâa-Tafilalet</option>
          <option value="Souss-Massa">Souss-Massa</option>
          <option value="Guelmim-Oued Noun">Guelmim-Oued Noun</option>
          <option value="Laâyoune-Sakia El Hamra">Laâyoune-Sakia El Hamra</option>
          <option value="Dakhla-Oued Ed-Dahab">Dakhla-Oued Ed-Dahab</option>
        </select>
      </div>
      <div *ngIf="registerForm.get('source')?.touched && registerForm.get('source')?.invalid" class="error">
        <small>La région est requise.</small>
      </div>
    </div>
    
    <!-- Mot de passe -->
    <div class="mb-3 input-icon">
      <label><i class="fas fa-lock"></i> Mot de passe</label>
      <div class="input-wrapper">
        <i class="fas fa-lock"></i>
        <input type="password" class="form-control" formControlName="password" />
      </div>
      <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid" class="error">
        <small *ngIf="registerForm.get('password')?.errors?.['required']">Le mot de passe est requis.</small>
        <small *ngIf="registerForm.get('password')?.errors?.['minlength']">
          Le mot de passe doit contenir au moins 6 caractères.
        </small>
      </div>
    </div>
    
 
   <!-- Carte professionnelle avec description et bouton stylé -->
   <div class="mb-3 input-icon">
      <label><i class="fas fa-id-card"></i> Carte Professionnelle</label>
      <small class="form-text text-muted d-block mb-2">
        Veuillez télécharger votre carte professionnelle (PDF, JPG ou PNG).
      </small>
      <div class="input-wrapper">
        <i class="fas fa-id-card"></i>
        <input
          type="file"
          class="form-control"
          (change)="onFileSelected($event)"
          accept=".pdf,.jpg,.jpeg,.png"
        />
      </div>
      <div *ngIf="fileError" class="error">
        <small>{{ fileError }}</small>
      </div>
    </div>


    <!-- Message d'erreur générale -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-paper-plane"></i> Créer mon compte
      </button>
    </div>